@import url("observablehq:default.css");
@import url("observablehq:theme-wide.css");

:root {
    --theme-foreground: #222222;
    --theme-background: #eeeeee;
    --theme-background-alt: #f5f5f5;
    --theme-foreground-alt: #0e79fe;
    --theme-foreground-muted: #444444;
    --theme-foreground-faint: #888888;
    --theme-foreground-fainter: #cccccc;
    --theme-foreground-faintest: #f8f8f8;
    --theme-foreground-focus: #000000;
    --serif: "Source Code Pro", monospace;
    --sans-serif: "Source Code Pro", monospace;
    --monospace: "Source Code Pro", monospace;
    --theme-blue: #4269d0;
    --theme-green: #3ca951;
    --theme-red: #ff725c;
    --theme-yellow: #efb118;
}
